@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-center {
  transform-box: fill-box;
  transform-origin: center;
}

.delay-250 {
  animation-delay: 250ms;
}

.delay-500 {
  animation-delay: 500ms;
}

.delay-750 {
  animation-delay: 750ms;
}

.animate-bob {
  animation-name: bob;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion) {
  .animate-bob {
    animation-name: none;
  }
}

@keyframes bob {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}
